<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aladin.todo.mapper.TodoMapper">
	<sql id="todoColumns">
	    todo_no,
	    member_no,
	    todo_title,
	    todo_content,
	    CASE WHEN completed = 1 THEN '완료' ELSE '미완료' END AS completedStatus,
	    inst_dtm,
	    update_dtm
	</sql>

	<insert id="insert" parameterType="com.aladin.todo.entity.Todo">
	    INSERT INTO TB_TODO (
	        todo_no,
	        member_no,
	        todo_title,
	        todo_content,
	        completed,
	        inst_dtm
	    ) VALUES (
	        #{todoNo},
	        #{memberNo},
	        #{todoTitle},
	        #{todoContent},
	        #{completed},
	        #{instDtm}
	    )
	</insert>
	
	<select id="findByMemberNo" resultType="com.aladin.todo.entity.Todo">
	    SELECT
	        <include refid="todoColumns"/>
	    FROM TB_TODO
	    WHERE member_no = #{memberNo}
	    ORDER BY inst_dtm DESC
	</select>

	<select id="findByTodoNoAndMemberNo" resultType="com.aladin.todo.entity.Todo">
	    SELECT
	        <include refid="todoColumns"/>
	    FROM TB_TODO
	    WHERE todo_no = #{todoNo}
	      AND member_no = #{memberNo}
	</select>

	<update id="updateTodo" parameterType="com.aladin.todo.entity.Todo">
	    UPDATE TB_TODO
	    SET
	        todo_title = #{todoTitle},
	        todo_content = #{todoContent},
	        completed = #{completed},
	        update_dtm = #{updateDtm}
	    WHERE todo_no = #{todoNo}
	    AND member_no = #{memberNo}
	</update>

	
</mapper>